body {
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: chocolate;
    text-align: center;
}
.assign {
    background-color: rgb(98, 98, 122);
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img {
    width: 200px;
    padding: 10px;
}